/* ==========================================================================
   Essential Rules 
   ========================================================================== */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
button {
  width: 150px;
  padding: 10px;
  background-color: lightgray;
  border: 1px solid grey;
  border-radius: 3px;
  display: block;
  margin: 10px auto;
}

.container {
    height: 560px;
    width: 560px;
    margin: 20px auto;
    background-color: f0f0f0;
    /*border: 1px solid slategray;*/
}

.square {
    height: 16px;
    width: 16px;
    background-color: crimson;
    display: inline-block;
    float: left;
}



